.body {
  height: 100vh;
  margin: 0;

  background-color: rgb(24, 23, 23);
  color: white;

  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
}

/*
    Navbar styling
*/

.navbar {
  display: flex;

  justify-content: center;
  align-items: center;

  padding-left: 25px;
  padding-right: 40px;
  background-color: rgb(36, 35, 35);

  height: 56px;
}

.material-icons.icon {
  color: white;
  font-size: 24px;
  font-weight: 0;
}

/*
    Navbar left section
*/

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.youtube-logo {
  width: 120px;
  height: 65px;
}

.logo-country-code {
  margin-top: -20px;
  margin-left: -25px;

  font-size: 8pt;
  font-weight: 0;
}

/*
    Navbar middle section
*/

.middle-navbar {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

.custom-searchbar {
  width: 572px;
  height: 32px;

  display: flex;
  justify-content: center;
}

.searchbar {
  flex: 1;

  font-size: 12pt;
  padding-left: 10px;
  background-color: rgb(48, 45, 45);
  border: 0;
  color: aliceblue;
}

input::placeholder {
  color: #aaaaaa;
}

.searchicon-container {
  background-color: rgb(78, 78, 78);

  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#searchicon {
  font-size: 27px;
  font-weight: 100;
}

#micicon {
  background-color: rgb(46, 46, 46);

  padding: 3px;
  border-radius: 50%;
}

/*
    Navbar right section
*/

.right-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/*
    General content layout
*/

.container {
  flex: 1;

  margin: 0px 10vw;

  display: flex;
  justify-content: center;
}

.left-container {
  padding: 24px;

  flex: 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.right-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 24px 24px 0px 0px;
}

/*
    video content
*/

.video-container {
  display: flex;
}

.video {
  width: 100%;
  height: 720px;
  max-height: 55vh;

  border: 0;
}

/*
    primary info styling
*/

.primary-info {
  width: 100%;

  border-bottom: 1px solid rgb(66, 66, 66);
}

a {
  color: #3ea6ff;
  text-decoration: none;
}

.link-tags {
  font-size: 12px;

  margin-right: 1px;
}

.title {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.primary-metadata {
  height: 40px;
  width: 100%;

  font-size: 14px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator {
  margin: 0px 4px;
}

#share-icon {
  transform: rotateY(180deg); /* reverse icon */
}

.left-primary-metadata,
.right-primary-metadata {
  display: flex;
  align-items: center;
}

.left-primary-metadata {
  color: #aaaaaa;
}

.right-primary-metadata {
  width: 28%;

  display: flex;
  justify-content: flex-end;

  gap: 15px;
}

.right-primary-metadata-tab {
  flex: 1;

  display: flex;
  gap: 5px;
  align-items: center;
}

/*
    secondary info styling
*/

.secondary-info {
  width: 100%;

  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border-bottom: 1px solid rgb(66, 66, 66);
}

.secondary-info-top-bar {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-logo-container {
  width: 64px;
  height: 50px;
}

.channel-logo {
  border-radius: 50%;
}

.channel-name {
  flex: 1;

  font-size: 14px;
}

.subscribe-btn {
  background-color: #cc0000;
  margin: 0px 4px;
  padding: 10px 16px;

  border: 0;
  border-radius: 4px;

  color: white;
}

.secondary-info-desc {
  margin-left: 64px;

  font-size: 14px;
}

.more-btn {
  margin-top: 8px;

  font-size: 12px;
  color: #aaaaaa;
}

/*
    Comments header styling
*/

.comments-header {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.comments-info {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 24px;
}

.comments-info-summary {
  margin-right: 32px;

  font-size: 16px;
}

#sort-icon {
  margin-right: 8px;
}

.sort-icon-label {
  font-size: 14px;
}

.comments-input {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment-box {
  flex: 1;
}

#account-icon-2 {
  width: 55px;
  height: 40px;
  font-size: 40px;
}

.comment-box {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #494848;

  font-size: 11pt;
  color: white;
}
